.audioPlayer {
  display: flex;
  flex-direction: column;
  width: 700px;
  --primary: #f40082;
  --secondary: #ffd200;
  align-items: center;
  justify-content: center;

}

.audioPlayerButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.audioPlayerSlider{
    display:flex;
    align-items: center;

}

.forwardBackward {
  background: none;
  border: none;
  color: var(--primary);
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 50px;
  cursor: pointer; 
}

.forwardBackward:hover {
  color: var(--primary);
}

.playPause {
  border: 1px var(--primary) solid;
  border-radius: 5%;
  width: 35px;
  height: 35px;
  font-size: 32px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play{
    position: relative;
    left: 2px;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
}



.progressBar {
  --bar-bg: #ffe3d4;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* Progress bar -safari */

.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* Progress bar - firefox */

.progressBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* Progress bar - chrome & safari */

.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */

.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

/* knobby - chrome & safari */

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* Knobby while dragging - chrome and safari */

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* Knobby - firefox */

.progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}


/* Knobby while draggin  -firefox */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
