*{
  margin: 0;
}

body {
  margin: 100px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#audioPlayer {
  display: flex;
  align-items: center;
  background: chocolate ;
  color: white;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.replayIcon{
  padding-right: 5px;
  padding-left: 5px;
  font-size: 25px;
}

#audioControls{
  background: chocolate ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;

}

.microphoneButton{
  padding-right: 5px;
  padding-left: 5px;
  font-size: 25px;
}


#options{

}

#options.icon{
  font-size: 30px;
}

.bin{
  font-size: 20px;
  margin-left: 5px;
}

.icon{
  cursor: pointer;
}
.icon:hover{
  cursor: pointer;
  scale: 1.2
}

.thumbsIconContainer{
  display: flex;
  border-radius: 5px;
  border: 1px solid black;
}

.thumb{
  
  padding: 10px;
  font-size: 25px;
}

.svg-label{
  font-size: 10px;
  font-style: italic;
}

.loginContainer{
  display: flex;
  flex-direction: column;
}